
* {
  -ms-overflow-style: none; 
  scrollbar-width: none;
  overflow: auto;
}


section {
  padding: 40px 5px;
  max-width: 50%;
  margin: auto;
}

/*main header of home page*/
  .main-header{
  padding: 6rem;
  max-width: 50%;
  text-align: center;
  color: white;
  background: var(--third-color);
  margin: auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  justify-items: center;  /* Center items horizontally within grid */
}

.projects a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  max-width: 300px;
  padding: 3px;
}

#projects h2 {
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 2px;
}

.projects img {
  display: block;
  height: auto;
  border-radius: var(--bs-border-radius);
  width: 100%;
  transition: transform 0.3s ease;
}

.hover-zoom h4 a{
    transition: transform 0.3s ease;
    cursor: pointer;
}

.hover-zoom:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px var(--shadow-color);
}


.projects a.btn {
  color: var(--white);
  background: var(--primary-color);
}

footer {
  text-align: center;
  padding: 30px;
  background: var(--primary-color);
  color: var(--white);
}
