* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
}


section {
  padding: 40px 5px;
  max-width: 70%;
  margin: auto;
}

/*main header of home page*/
.main-header {
  padding: 6rem;
  max-width: 50%;
  text-align: center;
  color: white;
  background: var(--third-color);
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}

.main-header h1 {
  overflow: hidden;
  height: 3.5rem;
  margin-bottom: 0;
}

/* About me */
#about {
  max-width: 55%;
}

.about-container img {
  height: 300px;
  width: auto;
  border-radius: 10%;
  margin: auto;
  object-fit: cover;
}

.about-container {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 2rem; 
}

.about-container p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

#about h2 {
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 20px;
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
  margin: 0 auto;
  padding: 2rem;
  justify-items: center;
}

.projects a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  max-width: 300px;
}

#projects h2 {
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-size: 2.5rem;
  height: 60px;
}

.projects img {
  display: block;
  object-fit: cover;
  border-radius: var(--bs-border-radius);
  width: 250px;
  height: 300px;
  margin: 25px;
}

.hover-zoom {
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 5px 10px var(--secondary-shadow-color);
}

.hover-zoom h4 a {
  cursor: pointer;
}

.hover-zoom:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px var(--primary-shadow-color);
}

.projects a.btn {
  color: var(--white);
  background: var(--primary-color);
  font-weight: 500;
  border: var(--primary-color) 2px solid;
  padding: 0.3em 0.5em;
  display: block;
  margin: 0 auto;
  max-width: 200px;
  font-size: 18px;
}

.projects a.btn:hover {
  color: var(--primary-text-color);
  background: var(--white);
}

.hover-zoom h4 {
  font-size: 1.5rem;
  padding: 0.3em;
  text-align: center;
}